body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.menu__icon_wrapper {
  display: flex;
  align-items: center;
}
.menu__icon {
  position: absolute;
  left: 0;
  margin-left: 8px;
}

@media screen and (min-width: 600px) {
  .menu__icon {
    display: none;
  }
}